@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #E8DAFF;
}

/*==========NAV========*/
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 15 50 15 50;
    background-color: #E8DAFF;
}

nav ul {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

nav a {
    color:black;
    padding: 5 15;
    border-radius: 4px;
    transition: 0.3s;
}

nav li a:hover{
    background-color: black;
    color: white;

}

/*========HOME========*/
#home {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container-texto-home {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#texto-home {
    display: grid;
    gap: 20px;
    letter-spacing: 1px;
    margin-left: 100px;
}

#texto-home h1 {
    font-size: 30px;
}

.container-imagem-home {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagem-home {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius: 60%;
    border:rgba(255, 255, 255, 0.6) 20px solid;
    
}

/*=========LAYOUT GERAL========*/

section:not(#home) {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.titulo {
    display: flex;
    width: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    border-bottom: 2px solid black;
}

.titulo h1 {
    font-size: 16px;
    letter-spacing: 1px;
}


.conteudo {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
    
}
/*========SOBRE==========*/
.container-imagem-sobre {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#polaroid {
    background-color: rgba(255, 255, 255, 0.6);
    justify-content: center;
    align-items: center;
    padding: 20 20 80 20;
    margin-right: 150px;
    border-radius: 2px;
}

#imagem-sobre{
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.container-texto-sobre {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#texto-sobre {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px;
    margin-left: 100px;
    border-radius: 4px;
}

#texto-sobre p {
    letter-spacing: 1px;
    line-height: 1.5;
}

/*========PROJETOS========*/
.projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-radius: 0 5% 0 5%;
    transition: 0.3s ease;
}

.projeto img {
    width: 400px;

}

.projeto p {
    color: black;
    letter-spacing: 1px;
}

.projeto:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/*========CONTATO========*/

#formulario {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 60%;
    justify-content: space-evenly;
}

input {
    height: 30px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
}

textarea {
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
}

input,textarea:focus-within {
    outline: none;
}

#botao {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

button {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    transition: 0.3s ease;
    cursor: pointer;
}

button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

footer ul {
    display: flex;
}

footer li {
    margin: 0 10px;
}

footer a{
    color: black;
}

footer i{
    font-size: 40px;
}
footer p {
    font-size: 12px;
    margin-top: 20px;
}